/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c41271;
  --ifm-color-primary-dark: #b01066;
  --ifm-color-primary-darker: #a70f60;
  --ifm-color-primary-darkest: #890d4f;
  --ifm-color-primary-light: #d8147c;
  --ifm-color-primary-lighter: #a70f60;
  --ifm-color-primary-lightest: #8b0d50;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f2bad8;
  --ifm-color-primary-dark: #eb96c4;
  --ifm-color-primary-darker: #e884b9;
  --ifm-color-primary-darkest: #de4e9b;
  --ifm-color-primary-light: #f9deec;
  --ifm-color-primary-lighter: #fcf0f7;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
